@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-Ubuntu: "Ubuntu";
    --color-bg: var(--bgColor);
    --color-text: var(--textColor);
}

:root {
    --bgColor: white;
    --textColor: black;
    background-color: var(--color-bg);
    font-family: var(--font-Ubuntu);
    color: var(--textColor);

}

.class-i {
    @apply py-3 px-3 border-2 border-gray-200 outline-0 rounded-xl capitalize
}

.single-input {
    @apply flex flex-col gap-3
}

.temp {
    @apply bg-white rounded-xl p-10 w-[400px] h-[500px] text-center
}

.Or-line {
    @apply w-full mt-1 h-[1px] bg-gray-200;
}

.ourform>div>label {
    @apply capitalize
}


.activeItem {
    @apply bg-black text-white;
}

.lis {
    @apply flex p-2 rounded-md cursor-pointer justify-items-start items-center gap-3 capitalize text-xl
}

.TextP {
    @apply text-base text-gray-500
}

@keyframes animate {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    100% {
        transform: translateY(-75%);
        -webkit-transform: translateY(-75%);
        -moz-transform: translateY(-75%);
        -ms-transform: translateY(-75%);
        -o-transform: translateY(-75%);
    }
}

.scroll-list {
    animation: animate 20s linear infinite;
    -webkit-animation: animate 20s linear infinite;
}

.OuterStyle {
    @apply w-full rounded-2xl border-2 border-gray-200 p-4 md:p-6
}

.Buttons {
    @apply rounded-lg border-[1px] h-fit border-gray-300 p-0.5 cursor-pointer
}

.NvItem {

    @apply text-black;
}